body {
  padding: 0;
  margin: 0;
  background: #2C385E;
  font-family: sans-serif;
  overflow: hidden;
}

.header {
  padding: 15px 10px;
  justify-items: center;
  background-color: #2C385E;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: auto;
}
.header__container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  height: 80px;
  transition: all 1.4s ease;
  margin-bottom: -35px;
}
.header__img:hover {
  transform: scale(1.25);
}
.header__nav a {
  margin-left: 30px;
  color: white;
  font-size: 25px;
  font-family: "Roboto";
  text-decoration: none;
  transition: all 0.9s;
  font-weight: bold;
}
.header__nav a:hover {
  color: aqua;
  text-shadow: 0px 0px 20px aqua;
}

@media (max-width: 800px) {
  .header .header__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .header__container__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header__container__nav__a {
    padding-top: 10px;
  }
}
.hero {
  height: 100vh;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../img/FondoPrincipal.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero__button {
  background-color: initial;
  background-image: linear-gradient(#006aa3, #003566 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500px;
  height: 120px;
  line-height: 80px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 250px;
}
.hero__button:focus {
  color: #171e29;
}
.hero__button:hover {
  opacity: 0.7;
}

.hero2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero2__imagen {
  background-image: url("../img/quetrata.webp");
  border-radius: 20px;
  background-position: center center;
  background-size: cover;
  height: 500px;
  width: 400px;
}
.hero2__content-container {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 200px 12px;
}
.hero2__content-container span {
  color: grey;
  text-decoration: underline;
}
.hero2__content-container__text {
  color: white;
  width: 45%;
  text-align: initial;
  padding: 0px 30px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
}
.hero2__content-container__text h2 {
  margin-top: 0px;
}

.zonas {
  color: white;
  padding: 100px 10px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hollownest.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.zonas h2 {
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 100px;
}
.zonas__cartas {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row-reverse;
}
.zonas__cartas__jardin {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/jardines.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 15px;
  margin: 20px;
  transition: opacity 0.9s ease-in-out;
  transition: all 0.5s ease;
  border-radius: 20px;
  width: 400px;
}
.zonas__cartas__jardin:hover {
  box-shadow: 0px 0px 15px rgb(53, 194, 53);
  transform: scale(1.03);
}
.zonas__cartas__cristal {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cristales.jpg);
  padding: 50px 15px;
  margin: 20px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 0.5s ease;
  width: 400px;
}
.zonas__cartas__cristal:hover {
  box-shadow: 0px 0px 15px rgb(176, 91, 255);
  transform: scale(1.03);
}
.zonas__cartas__ciudad {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/ciudad.jpg);
  padding: 50px 15px;
  margin: 20px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 0.5s ease;
  width: 400px;
}
.zonas__cartas__ciudad:hover {
  box-shadow: 0px 0px 15px rgb(85, 85, 249);
  transform: scale(1.03);
}

.personajes {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.personajes h2 {
  font-size: 4rem;
  margin-top: 0px;
}
.personajes__content {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 400px;
  margin-left: 100px;
  margin-right: 100px;
}
.personajes__content__text {
  display: flex;
  justify-content: center;
}
.personajes__container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.personajes__container__imagen {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}
.personajes__container__imagen__nombre {
  position: absolute;
  background-color: #4D7FA4;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  display: none;
  min-width: 100px;
  width: 200px;
  top: -60px;
  padding: 10px;
}
.personajes__container__imagen__nombre__texto {
  display: inline-flex;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.personajes__container__imagen__nombre::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  bottom: -20px;
  left: 40%;
  border-top: 10px solid #4D7FA4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.personajes__container .personajes__container__imagen:hover .personajes__container__imagen__nombre {
  display: flex;
  transform: translateY(-20px);
}
.personajes__container__imagen img {
  width: 280px;
  height: 280px;
  transition: transform 0.5s ease-in-out;
}
.personajes__container__imagen:hover img {
  transform: translateY(-20px);
}

.empezar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fondofinal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  align-items: center;
  color: white;
}
.empezar__button {
  background-color: initial;
  background-image: linear-gradient(#006aa3, #003566 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500px;
  height: 120px;
  line-height: 80px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 250px;
}
.empezar__button:focus {
  color: #171e29;
}
.empezar__button:hover {
  opacity: 0.7;
}
.empezar h3 {
  font-size: 5vw;
}

@media (max-width: 800px) {
  .personajes {
    flex-direction: column;
    height: auto;
  }
  .personajes__content h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .zonas {
    display: flex;
    flex-direction: column;
  }
  .zonas p {
    display: none;
  }
  .zonas__cartas {
    flex-direction: column;
  }
}
.footer {
  display: flex;
  justify-content: right;
  color: white;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: black;
  overflow: auto;
}/*# sourceMappingURL=styles.css.map */